*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery-wrapper{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.gallery{
    display: flex;
   width: 900px; 
 
    overflow-x: scroll;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    flex: none;
}
.gallery div img{
    width: 100%;
    filter: grayscale(100);
    transition: all 0.5s ease-in-out;
}
.gallery div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
#back-btn , #next-btn{
    width: 50px;
    cursor: pointer;

}